@import 'normalize';
@import 'font-awesome/scss/font-awesome';



//////HOME PAGE SLIDESHOW//////
// .header_image{
// 	width:100%;
// 	height:100%;

// }


// .header_image img{
// 	top:0;
// 	left:0;
// 	max-width: 100%;
// 	object-fit:cover;
// }



// general stuff///////////////
.app{
}

.logo{
	position: fixed;
	top:0;
	right:0;
	z-index:999;
	padding-right: 18px;
	padding-top: 18px;

}

.logo img{
	width:200px;
}

// NAV BAR////////////////////

nav{


}

.navigation{
	// display:flex;
	// flex-direction:row;
	// justify-content:space-around;
	padding-top:20px;
	margin-top:0;
	list-style:none;
    background: #111;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.navigation li{
	margin-bottom: 20px;
}

.navigation a{
	text-decoration: none;
	color:white;
	font-weight: bold;
}

.navigation a:hover{
	color:gray;
}


.site-wrap {
    min-width: 100%;
    min-height: 100%;
    background-color: #fff;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;

}


.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}


label[for="nav-trigger"] {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 2;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url("http://www.tax-consulting-group-san-diego.com/images/taxes-menu-icon.png");
    background-size: contain;
}


.nav-trigger:checked + label {
    left: 215px;
}


.nav-trigger:checked ~ .site-wrap {
    left: 200px;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}


.nav-trigger + label, .site-wrap {
    transition: left 0.2s;
}




// slideshow two/////////////////


#img-grp-wrap {
    position: relative;
 	
}

.img-wrapper {
    position: absolute;
}

.img-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
   width:100vw;
    height:100vh;
    object-fit:cover;

    
}

.next, .prev {
    position: absolute;
    cursor: pointer;
    top: 350px;

}

.next {
    right: 0;
    border: 1px solid red;
}

.prev {
    left: 0;
    border: 1px solid red;
}






// ABOUT PAGE////////////////



#wrapper_about{

	height:100%;
	width:100%;
	background-color: white;
	// border-bottom: 2px solid purple;
	
}



.about1{
	font-family: helvetica;
	// position:absolute;
	padding-top: 150px;
	display:flex;
	margin-left:300px;
	margin-right:300px;
	padding-bottom: 100px;

	
}


.martin-headshot {
	width:300px;
	height:300px;
	object-fit:cover;
	margin-right:20px;

}


.about1 p{
	color:black;
	font-size:20px;
	text-align: justify;
	line-height: 120%;
	position:relative;
}


.about1 span{
	padding-bottom:20px;
	color:black;
	font-size:50px;
	font-family: 'Lobster', cursive;
	line-height: 10%;
	position:absolute;
	right:0;
}




.take-a-tour{
	display:flex;
	justify-content:center;
	padding-bottom:50px;

}



.take-a-tour-link{
	text-decoration: none;
	font-family: helvetica;
	letter-spacing: 2px;
	color:black;
	font-size: 30px;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	padding:30px;
	padding-left:45px;
	padding-right:45px;

}

.take-a-tour-link:hover{
	color:green;

}

.about2{
	top: 150px;
	display:flex;
	margin-left:300px;
	margin-right:300px;
	padding-bottom: 50px;

}

.about2 p{
	font-family: helvetica;
	text-align: justify;
	font-size: 20px;

}



.whatpeoplearesaying1{
	display:flex;
	justify-content:center;
	padding-top:20px;
	margin-left:300px;
	margin-right:300px;

}



.about-image-of-descript-1{
	width: 400px;
	height:100%;
	padding-right: 20px;

}



.description1{
	padding-top:100px;
	font-family: 'Lobster', cursive;
	font-size: 25px;

}



.description1 a{
	font-family: helvetica;
	text-decoration: none;
	color:black;

}

.description1 a:hover{
	text-decoration: none;
	color:blue;

}



.about3{
	top: 150px;
	display:flex;
	margin-left:300px;
	margin-right:300px;
	padding-top: 50px;
	padding-bottom: 100px;

}

.about3 p{
	font-family: helvetica;
	text-align: justify;
	font-size: 20px;

}





